[Unit]
Description=Wiseflat xPL teleinfo daemon
After=networking.service
After=xpl-hub.service

[Service]
Type=simple
ExecStart=node /opt/xpl-teleinfo/index.js

Restart=always

[Install]
WantedBy=multi-user.target
